.card {
  display: flex;
  width: 200px;
  gap: 20px;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 5px rgb(184, 185, 185);
  transition: all .5s;
  margin-bottom: 10px;
  background-color:aliceblue;
}
.card:hover {
    box-shadow: 0px 0px 10px rgb(135, 136, 136);
}
.avatar {
  width: 50px;
  height: 50px;
}
.avatar img {
  width: 100%;
}
